<div class="filter-bar">
  <a href="/listings" class="filter-option">
    <i class="fa-etch fa-solid fa-house"></i>
    <div>All</div>
  </a>
  <a href="/listings?category=Trending" class="filter-option">
    <i class="fa-solid fa-fire"></i>
    <div>Trending</div>
  </a>
  <a href="/listings?category=Rooms" class="filter-option">
    <i class="fa-solid fa-bed"></i>
    <div>Rooms</div>
  </a>
  <a href="/listings?category=Iconic Cities" class="filter-option">
    <i class="fa-solid fa-mountain-city"></i>
    <div>Iconic Cities</div>
  </a>
  <a href="/listings?category=Mountains" class="filter-option">
    <i class="fa-solid fa-mountain-sun"></i>
    <div>Mountains</div>
  </a>
  <a href="/listings?category=Amazing Pools" class="filter-option">
    <i class="fa-solid fa-water"></i>
    <div>Amazing Pools</div>
  </a>
  <a href="/listings?category=Camping" class="filter-option">
    <i class="fa-solid fa-campground"></i>
    <div>Camping</div>
  </a>
  <a href="/listings?category=Farms" class="filter-option">
    <i class="fa-solid fa-cow"></i>
    <div>Farms</div>
  </a>
  <a href="/listings?category=Arctic" class="filter-option">
    <i class="fa-regular fa-snowflake"></i>
    <div>Arctic</div>
  </a>
  <a href="/listings?category=Barns" class="filter-option">
    <i class="fa-solid fa-building-wheat"></i>
    <div>Barns</div>
  </a>
  <a href="/listings?category=Beachfront" class="filter-option">
    <i class="fa-solid fa-umbrella-beach"></i>
    <div>Beachfront</div>
  </a>
</div>
